.italique {
    font-style: italic;
    font-weight: bold; /* Texte en gras (facultatif) */
    font-size: 2em; /* Taille du texte (ajustez selon vos préférences) */
    color: #ff6600; /* Couleur de votre choix */
    cursor: pointer; /* Curseur en forme de main au survol (facultatif) */
    text-align: center; /* Centrer le texte */
    margin-top: 20px; /* Marge supérieure (ajustez selon vos besoins) */
    animation: fadeIn 2s; /* Animation d'apparition */
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
